<section>
    <div class="m-5">
        <h3 class="montserrat-100 text-center"> NUESTROS GRANDES CLIENTES</h3>
    </div>
</section>

<section class="container-fluid">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 m-5 align-items-center">
        <div class="col ">
            <img class="size-icon-clientes" src="../nuestros-clientes/patagonia-img.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-02.jpg" alt="patagonia">
        </div>
        <div class="col ">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-03.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-04.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-05.jpg" alt="patagonia">
        </div>
        <div class="col ">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-06.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-07.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-08.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-09.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-10.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-11.jpg" alt="patagonia">
        </div>
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-12.jpg" alt="patagonia">
        </div>
        
        <div class="col">
            <img class="size-icon-clientes" src="../nuestros-clientes/cliente-13.jpg" alt="patagonia">
        </div>
    </div>
</section>