
<section class="container-fluid mt-4">
    <div class="row row-cols-3 row-cols-lg-5 row-cols-xl-5 text-center">
        <div class="col">
            <a class="navbar-brand" href="#"> <img class="ms-5" src="../banner/logo-page.png" alt="" height="auto" width="90%"></a>
        </div>
        <div class="col">
            <ul style="list-style: none;">
                <li style="padding-bottom: 1rem;">
                    <a style="font-weight: bold;" href="">ACERCA DE</a>
                </li>
                <li>
                    <a href="">Trabaja para nosotros</a>
                </li>
                <li>
                    <a href="">Grupo Textil</a>
                </li>
                <li>
                    <a href="">Data fiscal</a>
                </li>
            </ul>
        </div>
         <div class="col">
            <ul style="list-style: none;">
                <li style="padding-bottom: 1rem;">
                    <a style="font-weight: bold;" href="">CATEGORIAS</a>
                </li>
                <li>
                    <a href="">Pantalones</a>
                </li>
                <li>
                    <a href="">Vestidos</a>
                </li>
                <li>
                    <a href="">Chaquetas</a>
                </li>
                <li>
                    <a href="">Polos</a>
                </li>
                <li>
                    <a href="">Camisetas</a>
                </li>
                <li>
                    <a href="">Poleras</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style: none;">
                <li style="padding-bottom: 1rem;">
                    <a style="font-weight: bold;" href="">AYUDA Y CONTACTO</a>
                </li>
                <li>
                    <a href="">Preguntas frecuentes</a>
                </li>
                <li>
                    <a href="">Central de ayuda</a>
                </li>
                <li>
                    <a href="">Oficina
                        <br>Pasaje Los Delfines N°159 3er. Piso, Surco, Lima, Perú
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="col">
            <a style="font-weight: bold;" href="">ESTANDARES DE SOSTENIBILIDAD</a>
            <div class="row row-cols-2 container-fluid align-items-center">
                <div class="col">
                    <img src="../footer/sostenibilidad-01.jpg" alt="" width="auto" height="80rem">
                </div>
                <div class="col">
                    <img src="../footer/sostenibilidad-02.jpg" alt="" width="auto" height="80rem">
                </div>
                <div class="col">
                    <img src="../footer/sostenibilidad-03.jpg" alt="" width="auto" height="80rem">
                </div>
                <div class="col">
                    <img src="../footer/sostenibilidad-04.jpg" alt="" width="auto" height="80rem">
                </div>
                <div class="col">
                    <img src="../footer/sostenibilidad-05.jpg" alt="" width="auto" height="80rem">
                </div>
                <div class="col">
                    <img src="../footer/sostenibilidad-06.jpg" alt="" width="auto" height="80rem">
                </div>
            </div>
        </div>
    </div>




</section>