<section class="container-fluid bg-custom-ver-mas shadow">
    <div class="p-5">
        <h3 class="text-center montserrat-200"> TDV: PANTALONES, CHAQUETAS, CAMISETAS, POLOS, VESTIDOS Y HENLEYS... <br>
            ¿QUÉ ESTILO TE DEFINE HOY?
        </h3>

        <br>
        <br>
        <p class="text-center montserrat-400" style="padding-left: 15%; padding-right: 15%; font-size: 1.25rem;">
            Descubre en Textil del Valle una colección que combina tradición, calidad y diseño para cada ocasión.
            Desde elegantes chaquetas hasta vestidos únicos, encuentra la prenda perfectaque acompañe tu estilo esta
            temporada.
        </p>
        <div class="" style="display: grid; place-items: center;">
            <a href="#" style="text-decoration: none;color: orange;">Ver más<svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg></a>
        </div>

    </div>
</section>