
<section class="bg-banner-nosotros shadow">
    <div class="row row-cols-1 row-cols-lg-2  m-5 ">
    <div class="col p-4">
        <img  width="100%" height="auto" src="../banner-nosotros/banner-nosotros.jpg" alt="">
    </div>
    <div class="col p-5 m-auto">
        <h2 class="text-center mb-5 montserrat-600">Nosotros</h2>

        <p class="text-center montserrat-400">Somos TDV, líderes en la industria textil peruana, convencidos de volvernos la empresa textil más sustentable del mundo. Creemos firmemente que el Perú puede ser un centro de desarrollo de prendas de vestir sostenibles para el mundo.</p>
    </div>
</div>
</section>

