<app-header></app-header>

<section class="container-fluid p-5 bg-light">
    <div class="container text-center mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag-fill m-4" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
</svg>
        <h2 class="monda-700">Tu cartera está vacío</h2>
        <p class="monda-400">Aquí puedes ver los productos que has agregado a tu carrito.</p>
    </div>
</section>


<app-footer></app-footer>
